body {
    background-color: #9b9797
}


/* Heading */

.heading {
    margin-top: 2em;
    text-align: center;
    color: #fff;
}


/* HOME */

.description {
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 1em;
}

.my-details {
    margin-top: 5%;
}


/* .site-navigation {
    width: 50%;
    list-style: none;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
    position: static;
    float: none;
} */


/* NOTICE */

.notice {
    text-align: center;
    align-content: center;
}

.sectionHome {
    background-color: #fe7;
}

img {
    vertical-align: middle;
}

ul.nav {
    transition: all .2s;
}

#top {
    margin: auto;
    padding-top: 8em;
}

.footerAbove {
    background-color: #9b9797;
    padding-top: 1em;
    color: #fff;
    text-align: center;
    font-size: 1em;
}

.socialMedia {
    margin-block-start: 1em;
    padding-bottom: 1em;
}

.footerBelow {
    background-color: #9b9797;
    color: #fff;
    padding-bottom: 2%;
    padding-top: 9%;
}


/* .jumbotron {
    margin: auto;
    width: 80%;
    background-color: rgb(223, 219, 219);
    color: rgb(99, 96, 96);
} */

.menuSeparator {
    width: 80%;
}

.title-separator-one {
    color: #fff;
    margin: 20px;
    border-top: solid 5px;
    width: 90%;
}

.titleSeparatorTwo {
    color: rgb(99, 96, 96);
    margin: 40px auto 30px;
    border-top: solid 5px;
    width: 50%;
}

.titleSeparatorThree {
    color: rgb(99, 96, 96);
    margin: 40px auto 30px;
    border-top: solid 5px;
    width: 50%;
}


/* Media Queries */


/* Resize on smaller screen sizes */

@media only screen and (max-width: 600px) {
    .img-thumbnail {
        width: 80%;
    }
    .my-image {
        margin-top: 30%;
    }
    .description {
        text-align: center;
        width: 85%;
        padding-top: 1px;
    }
}

@media only screen and (max-width: 1024px) {
    .img-thumbnail {
        width: 80%;
    }
}