body {
    background-color: #9b9797
}


/* Heading */

.heading {
    margin-top: 2em;
    text-align: center;
    color: #fff;
}

.img-responsive {
    vertical-align: middle;
    width: 90%;
    margin: auto;
    padding-bottom: 5%;
}


/* HOME */

.description {
    text-align: center;
    margin: auto;
    padding-top: 1em;
}

.my-details {
    margin-top: 5%;
}

img {
    vertical-align: middle;
}

ul.nav {
    transition: all .2s;
}

.social-media {
    margin-block-start: 1em;
    padding-bottom: .5em;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 35px;
    margin: auto;
    width: 90%;
    background-color: rgb(223, 219, 219);
    color: rgb(99, 96, 96);
}

.menu-separator {
    width: 80%;
}

.title-separator-one {
    color: #fff;
    margin: 20px;
    border-top: solid 5px;
    width: 90%;
}


/*
 *
 * PORTFOLIO / FEATURED WORK
 *
 */

.feature-one,
.feature-two,
.feature-three {
    margin: 15px;
    text-align: center;
}

.feature-text {
    color: #7d97ad;
    font-size: 2em;
    margin: auto 30%;
}

.featured-separator {
    max-width: 90%;
    margin-top: 2px;
    border: .5px solid #7d97ad;
}

.feature-title {
    color: #2d3c49;
}

.feature-link {
    color: #7d97ad;
}

.feature-separator {
    width: 90%;
    border: .5px solid #7d97ad;
}


/*
 *
 * FOOTER
 *
 */

.credit {
    text-align: center;
    width: auto;
    padding: 2% 0;
}

a:hover,
a:visited {
    text-decoration: none;
}


/*
 *
 * MEDIA QUERIES
 *
 */


/* 
 *
 * Screens 475px and below
 *
 */

@media screen and (max-width: 475px) {
    /* TODO */
    /* Description section: make mobile-friendly */
    .my-details {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto 10%;
    }
    .my-image {
        widows: 100%;
        margin: auto;
    }
    .title-separator-one,
    .title-separator-two {
        color: #fff;
        margin: 20px;
        border-top: solid 5px;
        width: 90%;
    }
}


/* 
 * 
 * Screens between 476px and 750px
 *
 */

@media screen and (min-width: 476px) {
    .featured-work {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .feature-separator {
        display: inherit;
    }
    .feature-one {
        width: inherit;
        margin: auto;
    }
    .feature-two {
        width: inherit;
        margin: auto;
    }
    .feature-three {
        width: inherit;
        margin: auto;
    }
}


/* 
 * 
 * Screens 751px and up to 949px
 *
 */

@media screen and (min-width: 751px) {
    .featured-work {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }
    .featured-separator {
        max-width: 90%;
        margin-top: 2px;
        border: .5px solid #7d97ad;
    }
    .feature-separator {
        display: none;
    }
    .feature-one {
        width: 30%;
        margin: auto;
    }
    .feature-two {
        width: 30%;
        margin: auto;
    }
    .feature-three {
        width: 30%;
        margin: auto;
    }
}


/* 
 *
 * Screens above 950px
 *
 */

@media screen and (min-width: 950px) {
    /* TODO */
    /* Add style for extra large screens */
    /* Possibly have up to 5 work per line */
}