
/* Media Queries */

@media screen and (max-width: 460px) {
    .header {
        color: blueviolet;
        text-align: center;
        width: 90%;
    }
    .credit {
        text-align: center;
        text-decoration: none;
    }
}

/* @media screen and (max-width: 750px) {
    .intro {
        text-align: center;
    }
} */