body {
    /* background-color: #e2dddd; */
    background-color: rgb(180, 88, 211);
    /* background-color: #551a8b; */
    /* background-color: teal; */
    max-width: 100%;
}

.header {
    background-color: #d6b002;
    width: 100%;
    padding: 1%;
}

.intro {
    background-color: #d6b002;
}

.name {
    text-align: center;
}

.toast {
    max-width: 94%;
    margin: auto;
}

.individual-toast {
    margin-top: 5%;
    text-align: center;
}

.femi-doyin-toast {
    text-align: center;
    margin: 5%;
}

.footer {
    background-color: #d6b002;
    padding: 1%;
    /* background-color: #551a8b; */
}

/* @media screen and (max-width: 750px) {
    .intro {
        text-align: center;
    }
} */

/* Slider */

.slider>figure>img {
    display: none;
    margin: 0px auto;
    transition: ease;
}

.slider>figure.visible>img {
    display: block;
    position: relative;
    overflow: hidden;
    border-color: #551A8B;
    border-radius: 30px;
}

.slider>figure>figcaption {
    display: none;
}

.slider>figure.visible>figcaption {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
}


/* Media Queries */
/* Devices with width up to 400px */

@media screen and (max-width: 400px) {
    .header {
        text-align: center;
        /* width: 95%; */
        margin: auto;
    }

    .intro {
        /* font-size: 100%; */
        font-weight: bold;
    }

    .name {
        font-family: cursive;
        width: 90%;
        margin: 5% auto;   
    }

    .slider {
        max-width: 90%;
        margin: auto;
    }

    .footer {
        text-align: center;
        text-decoration-color: black;
        /* margin-bottom: 5%; */
    }

    a {
        color: black;
    }
}