/* Styles go here */

body {
    width: 90%;
    background: wheat;
    margin-top: 10%;
}

.container {
    width: 80%;
    text-align: center;
    margin: auto;
}

#text-area {
    background-color: aqua;
    border-radius: 10%;
    width: 50%;
    text-align: center;
    margin: 0 auto 5%;
    padding: 5% 0 3%;
}

button {
    background: teal;
    color: yellow;
    border: 2px solid black;
}